@import "tailwindcss";

@theme {
  --font-display: "Bebas Neue", sans-serif;
  --font-sans: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(107, 206, 159, 0.5);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 101, 51, 0.8);
}

html {
  scrollbar-width: thin;
}